<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="title">Gestão de Aulas</span>
  </mat-toolbar-row>
  <mat-toolbar-row>
      <button mat-button routerLink="/consultar/pessoa">Aluno</button>
      <button mat-button routerLink="/consultar/materia">Matéria</button>
      <button mat-button routerLink="/consultar/curso">Curso</button>
      <button mat-button routerLink="/consultar/sala">Sala</button>
      <button mat-button routerLink="/consultar/imprevisto">Imprevisto</button>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <button mat-button routerLink="/consultar/materia/curso">Matéria/Curso</button>
    <button mat-button routerLink="/consultar/aula">Aula</button>
</mat-toolbar-row>
</mat-toolbar>
<div class="corpo">
  <router-outlet></router-outlet>
</div>