<form [formGroup]="formGroup" (ngSubmit)=salvar()>
  <mat-form-field appearance="outline" class="espaco">
    <mat-label>Nome</mat-label>
    <input matInput formControlName="nome" placeholder="425B" required>
  </mat-form-field>
  <mat-form-field appearance="outline" class="espaco">
    <mat-label>Tipo</mat-label>
    <mat-select appearance="outline" formControlName="tipo" name="tipo" required>
      <mat-option>None</mat-option>
      <mat-option *ngFor="let key of keysTipos" [value]="key">
        {{tipos[key]}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div mat-dialog-actions class="center">
    <button mat-button cdkFocusInitial mat-raised-button color="primary" type="submit">Salvar</button>
    <button mat-button mat-stroked-button [mat-dialog-close] color="primary">Cancelar</button>
  </div>
</form>