/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.coluna-acoes {
    width: 128px;
}

body {
    margin: 0px;
    font-family: 'Oswald', sans-serif;
}

.espaco {
    margin-right: 10px;
}

table {
    width: 100%;
}

.center {
    justify-content: center;
}